## **üìÅ Data Overview (Gi·ªõi thi·ªáu d·ªØ li·ªáu)**

B·ªô d·ªØ li·ªáu **Student Alcohol Consumption** chia th√†nh 2 b·ªô d·ªØ li·ªáu nh·ªè:
* **student_mat.csv**: file ch·ª©a ƒë·∫∑c tr∆∞ng c·ªßa h·ªçc sinh t∆∞∆°ng ·ª©ng v·ªõi s·ªë ƒëi·ªÉm To√°n
  * G·ªìm c√≥  ~**395** d√≤ng v√† **33** c·ªôt
* **student_por.csv**: file ch·ª©a ƒë·∫∑c tr∆∞ng c·ªßa h·ªçc sinh t∆∞∆°ng ·ª©ng v·ªõi s·ªë ƒëi·ªÉm Ti·∫øng B·ªì
  * G·ªìm c√≥ ~**649** d√≤ng v√† **33** c·ªôt

**Ngu·ªìn**: [Kaggle](https://www.kaggle.com/datasets/uciml/student-alcohol-consumption?select=student-mat.csv)

B·ªô d·ªØ li·ªáu ƒë∆∞∆°c thu th·∫≠p ·ªü 2 tr∆∞·ªùng c·∫•p 2 v·ªõi ƒëi·ªÉm s·ªë c·ªßa hai b·ªô m√¥n To√°n v√† Ti·∫øng B·ªì. Bao g·ªìm c√°c ƒë·∫∑c tr∆∞ng v·ªÅ m·∫°ng x√£ h·ªôi, th√¥ng tin h·ªçc t·∫≠p, gi·ªõi t√≠nh c·ªßa h·ªçc sinh, ...  

M·ª•c ti√™u c·ªßa b·ªô d·ªØ li·ªáu n√†y ƒë∆∞·ª£c s·ª≠ d·ª•ng nh·∫±m d·ª± ƒëo√°n s·ªë ƒëi·ªÉm c·ªßa c√°c h·ªçc sinh ƒë·ªìng th·ªùi ƒë√°nh gi√° xem y·∫øu t·ªë n√†o ·∫£nh h∆∞·ªüng ƒë·∫øn ƒëi·ªÉm s·ªë c·ªßa h·ªçc sinh

## **üß© Data Structure (C·∫•u tr√∫c d·ªØ li·ªáu)**

### **ƒê·∫∑c tr∆∞ng c·ªßa c√°c c·ªôt bao g·ªìm**

* **Th√¥ng tin c√° nh√¢n**
  * `sex`: Gi·ªõi t√≠nh (F - N·ªØ, M - Nam) - Cate
  * `age`: Tu·ªïi - Num
  * `address`: ƒê·ªãa ch·ªâ (U - Urban, R - Rural) - Cate
  * `famsize`: S·ªë l∆∞·ª£ng ng∆∞·ªùi trong gia ƒë√¨nh (LE3 - D∆∞·ªõi ho·∫∑c b·∫£ng 3, GE3 - L·ªõn h∆°n 3) - Cate
  * `Pstatus`: Xa nh√† hay th√†nh ph·ªë (T - S·ªëng c√πng, A - Ri√™ng) - Catr
  * `Medu`: Tr√¨nh ƒë·ªô m·∫π (0 - kh√¥ng, 1 - c√°p 1, 2 - c·∫•p 2, 3 - c·∫•p 3, 4 - cao h·ªçc ) - Num
  * `Fedu`: Tr√¨nh ƒë·ªô cha (0 - kh√¥ng, 1 - c√°p 1, 2 - c·∫•p 2, 3 - c·∫•p 3, 4 - cao h·ªçc ) - Num
  * `Mjob`: C√¥ng vi·ªác m·∫π - Cate
  * `Fjob`: C√¥ng vi·ªác cha - Cate
* **Th√¥ng tin h·ªçc t·∫≠p**
  * `school`: Tr∆∞·ªùng theo h·ªçc (GP - Gabriel Pereira, MS -  Mousinho da Silveira ) - Cate
  * `reason`: L√Ω do l·ª±a ch·ªçn tr∆∞·ªùng - Cate
  * `guardian`: Ng∆∞·ªùi gi√°m h·ªô - Cate
* **Th√¥ng tin th·ªùi gian**
  * `traveltime`: Th·ªùi gian nh√† ƒë·∫øn tr∆∞·ªùng - Num  
  * `studytime`: Th·ªùi gian h·ªçc - Num
  * `failures`: S·ªë l∆∞·ª£ng l·ªõp r·ªõt - Num
* **Th√¥ng tin kh√°c**
  * `schoolsup`: H·ªó tr·ª£ nh√† tr∆∞·ªùng (Y - C√≥, K - Kh√¥ng) - Cate
  * `famsup`: H·ªó tr·ª£ gia ƒë√¨nh (Y - C√≥, K - Kh√¥ng) - Cate
  * `paid`: Tr·∫£ th√™m cho h·ªçc b·ªï tr·ª£ (Y - C√≥, K - Kh√¥ng) - Cate
* **Th√¥ng tin sinh ho·∫°t**
  * `activities`: Tham gia ngo·∫°i kh√≥a (Y - C√≥, K - Kh√¥ng) - Cate
  * `nursery`: ƒê√£ h·ªçc m·∫´u g√≠ao (Y - C√≥, K - Kh√¥ng) - Cate
  * `higher`: Mu·ªën h·ªçc cao h·ªçc (Y - C√≥, K - Kh√¥ng) - Cate
  * `internet`: ƒê∆∞·ª£c truy c·∫≠p m·∫°ng ·ªü nh√† (Y - C√≥, K - Kh√¥ng) - Cate
  * `romantic`: C√≥ h·∫πn h√≤ (Y - C√≥, K - Kh√¥ng) - Cate
* **Th√¥ng tin s·ª©c kh·ªèe tinh th·∫ßn**
  * `famrel`: Ch·∫•t l∆∞·ª£ng m·ªói quan h·ªá (t·ª´ 1 ƒë·∫øn 5) - Num
  * `freetime`: Th·ªùi gian r·∫£nh sau h·ªçc (t·ª´ 1 ƒë·∫øn 5) - Num
  * `goout`: ƒêi ch∆°i v·ªõi b·∫°n (t·ª´ 1 ƒë·∫øn 5) - Num
  * `Dalc`: S·ª©c kh·ªèe tin th·∫ßn trong ng√†y (t·ª´ 1 ƒë·∫øn 5) - Num
  * `Walc`: S·ª©c kh·ªèe tinh th·∫ßn cu·ªëi tu·∫ßn (t·ª´ 1 ƒë·∫øn 5) - Num
  * `health`: S·ª©c kh·ªèe c√° nh√¢n (t·ª´ 1 ƒë·∫øn 5) - Num
  * `absences`: S·ªë bu·ªïi v·∫Øng h·ªçc (t·ª´ 0 ƒë·∫øn 93) - Num
* **Th√¥ng tin ƒëi·ªÉm s·ªë**
  * `G1`: ƒêi·ªÉm b√†i thi th·ª© 1 (t·ª´ 1 ƒë·∫øn 20) - Num
  * `G2`: ƒêi·ªÉm b√†i thi th·ª© 2 (t·ª´ 1 ƒë·∫øn 20) - Num
  * `G3`: ƒêi·ªÉm b√†i thi th·ª© 3 **(target)** (t·ª´ 1 ƒë·∫øn 20) - Num

In [18]:
student_mat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [19]:
student_por.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

## **üîç Data Preview (Xem tr∆∞·ªõc d·ªØ li·ªáu)**

Xu·∫•t 5 d√≤ng ƒë·∫ßu c·ªßa m·ªói b·ªô d·ªØ li·ªáu

In [1]:
import pandas as pd
import numpy as np

In [2]:
student_mat = pd.read_csv('student-mat.csv')
student_por = pd.read_csv('student-por.csv')

In [4]:
student_mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
student_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

## **üìä Descriptive Statistics (Th·ªëng k√™ m√¥ t·∫£)**

In [6]:
student_mat.describe().T

            count       mean       std   min   25%   50%   75%   max
age         395.0  16.696203  1.276043  15.0  16.0  17.0  18.0  22.0
Medu        395.0   2.749367  1.094735   0.0   2.0   3.0   4.0   4.0
Fedu        395.0   2.521519  1.088201   0.0   2.0   2.0   3.0   4.0
traveltime  395.0   1.448101  0.697505   1.0   1.0   1.0   2.0   4.0
studytime   395.0   2.035443  0.839240   1.0   1.0   2.0   2.0   4.0
failures    395.0   0.334177  0.743651   0.0   0.0   0.0   0.0   3.0
famrel      395.0   3.944304  0.896659   1.0   4.0   4.0   5.0   5.0
freetime    395.0   3.235443  0.998862   1.0   3.0   3.0   4.0   5.0
goout       395.0   3.108861  1.113278   1.0   2.0   3.0   4.0   5.0
Dalc        395.0   1.481013  0.890741   1.0   1.0   1.0   2.0   5.0
Walc        395.0   2.291139  1.287897   1.0   1.0   2.0   3.0   5.0
health      395.0   3.554430  1.390303   1.0   3.0   4.0   5.0   5.0
absences    395.0   5.708861  8.003096   0.0   0.0   4.0   8.0  75.0
G1          395.0  10.908861  3.319195   3.0   8.0  11.0  13.0  19.0
G2          395.0  10.713924  3.761505   0.0   9.0  11.0  13.0  19.0
G3          395.0  10.415190  4.581443   0.0   8.0  11.0  14.0  20.0

In [9]:
student_mat.describe(include='object').T

           count unique     top freq
school       395      2      GP  349
sex          395      2       F  208
address      395      2       U  307
famsize      395      2     GT3  281
Pstatus      395      2       T  354
Mjob         395      5   other  141
Fjob         395      5   other  217
reason       395      4  course  145
guardian     395      3  mother  273
schoolsup    395      2      no  344
famsup       395      2     yes  242
paid         395      2      no  214
activities   395      2     yes  201
nursery      395      2     yes  314
higher       395      2     yes  375
internet     395      2     yes  329
romantic     395      2      no  263

In [7]:
student_por.describe().T

            count       mean       std   min   25%   50%   75%   max
age         649.0  16.744222  1.218138  15.0  16.0  17.0  18.0  22.0
Medu        649.0   2.514638  1.134552   0.0   2.0   2.0   4.0   4.0
Fedu        649.0   2.306626  1.099931   0.0   1.0   2.0   3.0   4.0
traveltime  649.0   1.568567  0.748660   1.0   1.0   1.0   2.0   4.0
studytime   649.0   1.930663  0.829510   1.0   1.0   2.0   2.0   4.0
failures    649.0   0.221880  0.593235   0.0   0.0   0.0   0.0   3.0
famrel      649.0   3.930663  0.955717   1.0   4.0   4.0   5.0   5.0
freetime    649.0   3.180277  1.051093   1.0   3.0   3.0   4.0   5.0
goout       649.0   3.184900  1.175766   1.0   2.0   3.0   4.0   5.0
Dalc        649.0   1.502311  0.924834   1.0   1.0   1.0   2.0   5.0
Walc        649.0   2.280431  1.284380   1.0   1.0   2.0   3.0   5.0
health      649.0   3.536210  1.446259   1.0   2.0   4.0   5.0   5.0
absences    649.0   3.659476  4.640759   0.0   0.0   2.0   6.0  32.0
G1          649.0  11.399076  2.745265   0.0  10.0  11.0  13.0  19.0
G2          649.0  11.570108  2.913639   0.0  10.0  11.0  13.0  19.0
G3          649.0  11.906009  3.230656   0.0  10.0  12.0  14.0  19.0

In [10]:
student_por.describe(include='object').T

           count unique     top freq
school       649      2      GP  423
sex          649      2       F  383
address      649      2       U  452
famsize      649      2     GT3  457
Pstatus      649      2       T  569
Mjob         649      5   other  258
Fjob         649      5   other  367
reason       649      4  course  285
guardian     649      3  mother  455
schoolsup    649      2      no  581
famsup       649      2     yes  398
paid         649      2      no  610
activities   649      2      no  334
nursery      649      2     yes  521
higher       649      2     yes  580
internet     649      2     yes  498
romantic     649      2      no  410

G·ªìm 395 ƒë·ªëi v·ªõi **To√°n** v√† 649 m·∫´u ƒë·ªëi v·ªõi **Ti·∫øng B·ªì** thu·ªôc trong ƒë·ªô tu·ªïi c·∫•p 2 - 16 tu·ªïi ƒë·∫øn 22 tu·ªïi, ƒë√°ng l∆∞u √Ω nh∆∞ ƒëi·ªÉm To√°n c·ªßa c·∫£ ba b√†i ki·ªÉm tra ·ªü m·ªôt Ti·∫øng B·ªì cao h∆°n ƒëi·ªÉm To√°n. ƒê·ªô l·ªách c≈©ng kh√°c nhau khi ƒëi·ªÉm To√°n giao ƒë·ªông trong kho·∫£ng 8.0 (25%) c√≤n ti·∫øng B·ªì l√† 10.0 (25%) t·∫•t c·∫£ ƒë·ªÅu ƒë∆∞·ª£c ƒëo tr√™n thang ƒëi·ªÉm 20. S·ª©c kh·ªèe c≈©ng ƒë·∫°t m·ª©c b√¨nh t∆∞·ªùng v√† kh√¥ng c√≥ g√¨ ƒë√°ng n√≥i.

Ph√¢n b·ªë c√°c ƒë·∫∑c tr∆∞ng ph√¢n lo·∫°i c·ªßa c·∫£ hai b·ªô d·ªØ li·ªáu gi·ªëng nhau n√™n c≈©ng kh√¥ng c√≥ g√¨ ƒë√°ng n√≥i

## **‚ùó Missing Values (D·ªØ li·ªáu thi·∫øu)**

In [11]:
student_mat.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [16]:
student_mat.duplicated().sum()

np.int64(0)

In [12]:
student_por.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [17]:
student_por.duplicated().sum()

np.int64(0)

Trong 2 b·ªô d·ªØ li·ªáu kh√¥ng c√≥ c·ªôt n√†o b·ªã thi·∫øu

## **‚ú®Initial Insights (Nh·∫≠n x√©t ban ƒë·∫ßu)**

* B·ªô d·ªØ li·ªáu ƒëi·ªÉm Ti·∫øng B·ªì nhi·ªÅu h∆°n h·∫≥n so v·ªõi b·ªô d·ªØ li·ªáu ƒëi·ªÉm To√°n
* Trong c·ªôt kh√¥ng c√≥ d·ªØ li·ªáu b·ªã thi·∫øu v√† b·ªã tr√πng
* Kh√¥ng th·ªÉ g·ªôp b·∫£ng d·ªØ li·ªáu B·ªì v√† To√°n l·∫°i ƒë∆∞·ª£c v·ªõi nhau do kh√¥ng c√≥ ƒëi·ªÉm chung v√† ta ch·ªâ bi·∫øt d·ªØ li·ªáu d∆∞·ª£c thu th√¢p t·ª´ 2 tr∆∞·ªùng. Do ƒë√≥ kh√¥ng c√≥ ƒë·ªß d·ªØ ki·ªán ƒë·ªÉ g·ªôp
* C√≥ th·ªÉ d·ª± ƒëo√°n ƒëi·ªÉm s·ªë v√† ph√¢n c·ª•m h·ªçc sinh
* C√≥ m·ªôt s·ªë h·ªçc sinh thu·ªôc trong c·∫£ 2 b·ªô d·ªØ li·ªáu do ƒë√≥ ta s·∫Ω s·ª≠ d·ª•ng ri√™ng l·∫ª hai b·ªô d·ªØ li·ªáu ƒë·ªÉ ph√¢n t√≠ch chuy√™n s√¢u v√† g·ªôp ch√∫ng l·∫°i khi hu·∫•n luy√™n m√¥ h√¨nh