<a href="https://colab.research.google.com/github/TienNguyen0712/student-alcohol-consumption-data-mining/blob/main/notebooks/02_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **üìå Goal (M·ª•c ti√™u)**

D·ª±a tr√™n k·∫øt qu·∫£ t·ª´ b∆∞·ªõc Data Understanding, d·ªØ li·ªáu c·∫ßn ƒë∆∞·ª£c l√†m s·∫°ch v√† chu·∫©n h√≥a ƒë·ªÉ s·∫µn s√†ng cho vi·ªác ph√¢n t√≠ch v√† x√¢y d·ª±ng m√¥ h√¨nh.

C√°c b∆∞·ªõc x·ª≠ l√Ω ch√≠nh bao g·ªìm:
- G·ªôp d·ªØ li·ªáu
- S·ª≠a ki·ªÉu d·ªØ li·ªáu
- Lo·∫°i b·ªè d·ªØ li·ªáu kh√¥ng h·ª£p l·ªá  
- Chu·∫©n h√≥a bi·∫øn s·ªë

In [97]:
import pandas as pd
import numpy as np

In [98]:
student_mat = pd.read_csv('student-mat.csv')
student_por = pd.read_csv('student-por.csv')

## **üî¢ Checking Data Before Merging (Ki·ªÉm tra d·ªØ li·ªáu tr∆∞·ªõc khi g·ªôp)**

In [99]:
student_mat.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [100]:
student_mat.shape

(395, 33)

In [101]:
student_por.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [102]:
student_por.shape

(649, 33)

In [103]:
num_student_mat = student_mat.select_dtypes(include=np.number).columns
cat_student_mat = student_mat.select_dtypes(exclude=np.number).columns

num_student_por = student_por.select_dtypes(include=np.number).columns
cat_student_por = student_por.select_dtypes(exclude=np.number).columns

In [104]:
num_student_mat, cat_student_mat, num_student_por, cat_student_por

(Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
        'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
        'G3'],
       dtype='object'),
 Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
        'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
        'nursery', 'higher', 'internet', 'romantic'],
       dtype='object'),
 Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
        'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
        'G3'],
       dtype='object'),
 Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
        'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
        'nursery', 'higher', 'internet', 'romantic'],
       dtype='object'))

In [105]:
student_mat.rename(columns={'G1':'G1_mat', 'G2':'G2_mat', 'G3':'G3_mat'}, inplace=True) # ƒê·ªïi t√™n cac c·ªôt khi g·ªôp d·ªÖ ph√¢n bi·ªát
student_por.rename(columns={'G1':'G1_por', 'G2':'G2_por', 'G3':'G3_por'}, inplace=True)

## **üîó Data Merging (G·ªôp b·∫£ng)**

In [106]:
merge_columms = ["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"]

student_mat_por = pd.merge(student_mat, student_por, on=merge_columms
                                                  , how="outer"
                                                  , suffixes=("_mat", "_por"))

In [107]:
student_mat_por.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian_mat', 'traveltime_mat',
       'studytime_mat', 'failures_mat', 'schoolsup_mat', 'famsup_mat',
       'paid_mat', 'activities_mat', 'nursery', 'higher_mat', 'internet',
       'romantic_mat', 'famrel_mat', 'freetime_mat', 'goout_mat', 'Dalc_mat',
       'Walc_mat', 'health_mat', 'absences_mat', 'G1_mat', 'G2_mat', 'G3_mat',
       'guardian_por', 'traveltime_por', 'studytime_por', 'failures_por',
       'schoolsup_por', 'famsup_por', 'paid_por', 'activities_por',
       'higher_por', 'romantic_por', 'famrel_por', 'freetime_por', 'goout_por',
       'Dalc_por', 'Walc_por', 'health_por', 'absences_por', 'G1_por',
       'G2_por', 'G3_por'],
      dtype='object')

In [108]:
student_mat_por.duplicated().sum()

np.int64(0)

In [109]:
student_mat_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por
0,GP,F,15,R,GT3,T,1,1,at_home,other,...,3.0,1.0,2.0,1.0,1.0,1.0,4.0,13.0,13.0,13.0
1,GP,F,15,R,GT3,T,1,1,other,other,...,5.0,5.0,5.0,1.0,1.0,1.0,2.0,8.0,9.0,9.0
2,GP,F,15,R,GT3,T,1,1,other,other,...,3.0,3.0,4.0,2.0,4.0,5.0,2.0,13.0,11.0,11.0
3,GP,F,15,R,GT3,T,2,2,at_home,other,...,4.0,3.0,1.0,1.0,1.0,2.0,8.0,14.0,13.0,12.0
4,GP,F,15,R,GT3,T,2,4,services,health,...,4.0,3.0,2.0,1.0,1.0,5.0,2.0,10.0,11.0,10.0

## **üßπ Removing Invalid Values (Lo·∫°i b·ªè d·ªØ li·ªáu kh√¥ng h·ª£p l·ªá)**

In [110]:
# G·ªôp ƒëi·ªÉm ƒë·ªÉ l√†m target
student_mat_por["G3"] = student_mat_por[["G3_mat", "G3_por"]].mean(axis=1)
student_mat_por["G2"] = student_mat_por[["G2_mat", "G2_por"]].mean(axis=1)
student_mat_por["G1"] = student_mat_por[["G1_mat", "G1_por"]].mean(axis=1)

student_mat_por = student_mat_por.drop(columns=["G1_mat","G1_por","G2_mat","G2_por", "G3_mat","G3_por"])

In [111]:
order_col_list_cat = ["guardian", "schoolsup", "famsup", "paid", "activities", "higher", "romantic"]
order_col_list_num = ["traveltime", "studytime", "failures", "famrel", "goout", "Dalc", "Walc", "health", "absences", "freetime"]

# G·ªôp c√°c c·ªôt ph√¢n lo·∫°i
def merge_multiple_categorical(df, col_list):
    for col in col_list:
        df[col] = df[f"{col}_mat"].combine_first(df[f"{col}_por"])
        df = df.drop(columns=[f"{col}_mat", f"{col}_por"])
    return df

# G·ªôp c√°c c·ªôt s·ªë
def merge_multiple_numerical(df, col_list):
    for col in col_list:
      if col != "absences":
        df[col] = df[[f"{col}_mat", f"{col}_por"]].mean(axis=1)
      else:
        df[col] =  df[[f"{col}_mat", f"{col}_por"]].max(axis=1)
      df = df.drop(columns=[f"{col}_mat", f"{col}_por"])
    return df

student_mat_por = merge_multiple_categorical(student_mat_por, order_col_list_cat)
student_mat_por = merge_multiple_numerical(student_mat_por, order_col_list_num)

In [112]:
student_mat_por.shape

(682, 33)

In [113]:
student_mat_por.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'nursery', 'internet', 'G3', 'G2', 'G1',
       'guardian', 'schoolsup', 'famsup', 'paid', 'activities', 'higher',
       'romantic', 'traveltime', 'studytime', 'failures', 'famrel', 'goout',
       'Dalc', 'Walc', 'health', 'absences', 'freetime'],
      dtype='object')

In [117]:
student_mat_por.isna().sum().sort_values(ascending=False)

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
nursery       0
internet      0
G3            0
G2            0
G1            0
guardian      0
schoolsup     0
famsup        0
paid          0
activities    0
higher        0
romantic      0
traveltime    0
studytime     0
failures      0
famrel        0
goout         0
Dalc          0
Walc          0
health        0
absences      0
freetime      0
dtype: int64

## **üìè Feature Scaling (Chu·∫©n h√≥a d·ªØ li·ªáu)**

## **üìä Final Cleaned Data (Dataset cu·ªëi c√πng)**