## **üìå Goal (M·ª•c ti√™u)**

D·ª±a tr√™n k·∫øt qu·∫£ t·ª´ b∆∞·ªõc Data Understanding, d·ªØ li·ªáu c·∫ßn ƒë∆∞·ª£c l√†m s·∫°ch v√† chu·∫©n h√≥a ƒë·ªÉ s·∫µn s√†ng cho vi·ªác ph√¢n t√≠ch v√† x√¢y d·ª±ng m√¥ h√¨nh.

C√°c b∆∞·ªõc x·ª≠ l√Ω ch√≠nh bao g·ªìm:
- G·ªôp d·ªØ li·ªáu
- S·ª≠a ki·ªÉu d·ªØ li·ªáu
- Lo·∫°i b·ªè d·ªØ li·ªáu kh√¥ng h·ª£p l·ªá  
- Chu·∫©n h√≥a bi·∫øn s·ªë

In [3]:
import pandas as pd
import numpy as np

In [5]:
student_mat = pd.read_csv('student-mat.csv')
student_por = pd.read_csv('student-por.csv')

## **üîó Data Merging (G·ªôp b·∫£ng)**

In [7]:
student_mat.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [8]:
student_por.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [20]:
num_student_mat = student_mat.select_dtypes(include=np.number).columns
cat_student_mat = student_mat.select_dtypes(exclude=np.number).columns

num_student_por = student_por.select_dtypes(include=np.number).columns
cat_student_por = student_por.select_dtypes(exclude=np.number).columns

In [21]:
num_student_mat, cat_student_mat, num_student_por, cat_student_por

(Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
        'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
        'G3'],
       dtype='object'),
 Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
        'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
        'nursery', 'higher', 'internet', 'romantic'],
       dtype='object'),
 Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
        'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
        'G3'],
       dtype='object'),
 Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
        'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
        'nursery', 'higher', 'internet', 'romantic'],
       dtype='object'))

In [22]:
student_mat_por = pd.merge(student_mat, student_por, on=["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"]
                                                  , how="outer")

In [28]:
student_mat_por.isnull().sum()

school            0
sex               0
age               0
address           0
famsize           0
Pstatus           0
Medu              0
Fedu              0
Mjob              0
Fjob              0
reason            0
guardian_x      275
traveltime_x    275
studytime_x     275
failures_x      275
schoolsup_x     275
famsup_x        275
paid_x          275
activities_x    275
nursery           0
higher_x        275
internet          0
romantic_x      275
famrel_x        275
freetime_x      275
goout_x         275
Dalc_x          275
Walc_x          275
health_x        275
absences_x      275
G1_x            275
G2_x            275
G3_x            275
guardian_y       25
traveltime_y     25
studytime_y      25
failures_y       25
schoolsup_y      25
famsup_y         25
paid_y           25
activities_y     25
higher_y         25
romantic_y       25
famrel_y         25
freetime_y       25
goout_y          25
Dalc_y           25
Walc_y           25
health_y         25
absences_y       25
G1_y             25
G2_y             25
G3_y             25
dtype: int64

## **üîÑ Fixing Data Types (S·ª≠a ki·ªÉu d·ªØ li·ªáu)**

## **üßπ Removing Invalid Values (Lo·∫°i b·ªè d·ªØ li·ªáu kh√¥ng h·ª£p l·ªá)**

## **üìè Feature Scaling (Chu·∫©n h√≥a d·ªØ li·ªáu)**

## **üìä Final Cleaned Data (Dataset cu·ªëi c√πng)**