<a href="https://colab.research.google.com/github/TienNguyen0712/student-alcohol-consumption-data-mining/blob/main/notebooks/02_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **üìå Goal (M·ª•c ti√™u)**

D·ª±a tr√™n k·∫øt qu·∫£ t·ª´ b∆∞·ªõc Data Understanding, d·ªØ li·ªáu c·∫ßn ƒë∆∞·ª£c l√†m s·∫°ch v√† chu·∫©n h√≥a ƒë·ªÉ s·∫µn s√†ng cho vi·ªác ph√¢n t√≠ch v√† x√¢y d·ª±ng m√¥ h√¨nh.

C√°c b∆∞·ªõc x·ª≠ l√Ω ch√≠nh bao g·ªìm:
- G·ªôp d·ªØ li·ªáu
- S·ª≠a ki·ªÉu d·ªØ li·ªáu
- Lo·∫°i b·ªè d·ªØ li·ªáu kh√¥ng h·ª£p l·ªá  
- Chu·∫©n h√≥a bi·∫øn s·ªë

In [52]:
import pandas as pd
import numpy as np

In [53]:
student_mat = pd.read_csv('student-mat.csv')
student_por = pd.read_csv('student-por.csv')

## **üîó Data Merging (G·ªôp b·∫£ng)**

In [54]:
student_mat.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [55]:
student_mat.shape

(395, 33)

In [56]:
student_por.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [57]:
student_por.shape

(649, 33)

In [58]:
num_student_mat = student_mat.select_dtypes(include=np.number).columns
cat_student_mat = student_mat.select_dtypes(exclude=np.number).columns

num_student_por = student_por.select_dtypes(include=np.number).columns
cat_student_por = student_por.select_dtypes(exclude=np.number).columns

In [59]:
num_student_mat, cat_student_mat, num_student_por, cat_student_por

(Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
        'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
        'G3'],
       dtype='object'),
 Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
        'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
        'nursery', 'higher', 'internet', 'romantic'],
       dtype='object'),
 Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
        'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
        'G3'],
       dtype='object'),
 Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
        'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
        'nursery', 'higher', 'internet', 'romantic'],
       dtype='object'))

In [60]:
merge_columms = ["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"]

student_mat_por = pd.merge(student_mat, student_por, on=merge_columms
                                                  , how="outer")

In [67]:
student_mat_por.duplicated().sum()

np.int64(0)

In [65]:
student_mat_por[merge_columms].value_counts().head()

school  sex  age  address  famsize  Pstatus  Medu  Fedu  Mjob      Fjob      reason  nursery  internet
GP      M    16   U        GT3      T        3     3     services  other     home    yes      yes         4
             18   U        GT3      T        4     4     teacher   services  home    yes      yes         4
             16   U        GT3      T        4     4     teacher   teacher   course  yes      yes         4
             17   U        GT3      T        2     1     other     other     home    yes      yes         4
MS      F    16   R        GT3      T        2     2     other     other     course  yes      yes         3
Name: count, dtype: int64

In [61]:
student_mat_por.head(1).T

                    0
school             GP
sex                 F
age                15
address             R
famsize           GT3
Pstatus             T
Medu                1
Fedu                1
Mjob          at_home
Fjob            other
reason           home
guardian_x     mother
traveltime_x      2.0
studytime_x       4.0
failures_x        1.0
schoolsup_x       yes
famsup_x          yes
paid_x            yes
activities_x      yes
nursery           yes
higher_x          yes
internet          yes
romantic_x         no
famrel_x          3.0
freetime_x        1.0
goout_x           2.0
Dalc_x            1.0
Walc_x            1.0
health_x          1.0
absences_x        2.0
G1_x              7.0
G2_x             10.0
G3_x             10.0
guardian_y     mother
traveltime_y      2.0
studytime_y       4.0
failures_y        0.0
schoolsup_y       yes
famsup_y          yes
paid_y            yes
activities_y      yes
higher_y          yes
romantic_y         no
famrel_y          3.0
freetime_y        1.0
goout_y           2.0
Dalc_y            1.0
Walc_y            1.0
health_y          1.0
absences_y        4.0
G1_y             13.0
G2_y             13.0
G3_y             13.0

In [62]:
student_mat_por.shape

(682, 53)

In [63]:
student_mat_por.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian_x', 'traveltime_x', 'studytime_x',
       'failures_x', 'schoolsup_x', 'famsup_x', 'paid_x', 'activities_x',
       'nursery', 'higher_x', 'internet', 'romantic_x', 'famrel_x',
       'freetime_x', 'goout_x', 'Dalc_x', 'Walc_x', 'health_x', 'absences_x',
       'G1_x', 'G2_x', 'G3_x', 'guardian_y', 'traveltime_y', 'studytime_y',
       'failures_y', 'schoolsup_y', 'famsup_y', 'paid_y', 'activities_y',
       'higher_y', 'romantic_y', 'famrel_y', 'freetime_y', 'goout_y', 'Dalc_y',
       'Walc_y', 'health_y', 'absences_y', 'G1_y', 'G2_y', 'G3_y'],
      dtype='object')

In [64]:
student_mat_por.isnull().sum()

school            0
sex               0
age               0
address           0
famsize           0
Pstatus           0
Medu              0
Fedu              0
Mjob              0
Fjob              0
reason            0
guardian_x      275
traveltime_x    275
studytime_x     275
failures_x      275
schoolsup_x     275
famsup_x        275
paid_x          275
activities_x    275
nursery           0
higher_x        275
internet          0
romantic_x      275
famrel_x        275
freetime_x      275
goout_x         275
Dalc_x          275
Walc_x          275
health_x        275
absences_x      275
G1_x            275
G2_x            275
G3_x            275
guardian_y       25
traveltime_y     25
studytime_y      25
failures_y       25
schoolsup_y      25
famsup_y         25
paid_y           25
activities_y     25
higher_y         25
romantic_y       25
famrel_y         25
freetime_y       25
goout_y          25
Dalc_y           25
Walc_y           25
health_y         25
absences_y       25
G1_y             25
G2_y             25
G3_y             25
dtype: int64

## **üîÑ Fixing Data Types (S·ª≠a ki·ªÉu d·ªØ li·ªáu)**

## **üßπ Removing Invalid Values (Lo·∫°i b·ªè d·ªØ li·ªáu kh√¥ng h·ª£p l·ªá)**

## **üìè Feature Scaling (Chu·∫©n h√≥a d·ªØ li·ªáu)**

## **üìä Final Cleaned Data (Dataset cu·ªëi c√πng)**