<a href="https://colab.research.google.com/github/TienNguyen0712/student-alcohol-consumption-data-mining/blob/main/notebooks/02_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **üìå Goal (M·ª•c ti√™u)**

D·ª±a tr√™n k·∫øt qu·∫£ t·ª´ b∆∞·ªõc Data Understanding, d·ªØ li·ªáu c·∫ßn ƒë∆∞·ª£c l√†m s·∫°ch v√† chu·∫©n h√≥a ƒë·ªÉ s·∫µn s√†ng cho vi·ªác ph√¢n t√≠ch v√† x√¢y d·ª±ng m√¥ h√¨nh.

C√°c b∆∞·ªõc x·ª≠ l√Ω ch√≠nh bao g·ªìm:
- G·ªôp d·ªØ li·ªáu
- S·ª≠a ki·ªÉu d·ªØ li·ªáu
- Lo·∫°i b·ªè d·ªØ li·ªáu kh√¥ng h·ª£p l·ªá  
- Chu·∫©n h√≥a bi·∫øn s·ªë

In [82]:
import pandas as pd
import numpy as np

In [83]:
student_mat = pd.read_csv('student-mat.csv')
student_por = pd.read_csv('student-por.csv')

## **üî¢ Ki·ªÉm tra d·ªØ li·ªáu tr∆∞·ªõc khi g·ªôp**

In [84]:
student_mat.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [85]:
student_mat.shape

(395, 33)

In [86]:
student_por.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [87]:
student_por.shape

(649, 33)

In [88]:
num_student_mat = student_mat.select_dtypes(include=np.number).columns
cat_student_mat = student_mat.select_dtypes(exclude=np.number).columns

num_student_por = student_por.select_dtypes(include=np.number).columns
cat_student_por = student_por.select_dtypes(exclude=np.number).columns

In [89]:
num_student_mat, cat_student_mat, num_student_por, cat_student_por

(Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
        'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
        'G3'],
       dtype='object'),
 Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
        'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
        'nursery', 'higher', 'internet', 'romantic'],
       dtype='object'),
 Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
        'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
        'G3'],
       dtype='object'),
 Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
        'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
        'nursery', 'higher', 'internet', 'romantic'],
       dtype='object'))

In [90]:
student_mat.rename(columns={'G1':'G1_mat', 'G2':'G2_mat', 'G3':'G3_mat'}, inplace=True) # ƒê·ªïi t√™n cac c·ªôt khi g·ªôp d·ªÖ ph√¢n bi·ªát
student_por.rename(columns={'G1':'G1_por', 'G2':'G2_por', 'G3':'G3_por'}, inplace=True)

## **üîó Data Merging (G·ªôp b·∫£ng)**

In [91]:
merge_columms = ["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"]

student_mat_por = pd.merge(student_mat, student_por, on=merge_columms
                                                  , how="outer")

In [92]:
student_mat_por.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian_x', 'traveltime_x', 'studytime_x',
       'failures_x', 'schoolsup_x', 'famsup_x', 'paid_x', 'activities_x',
       'nursery', 'higher_x', 'internet', 'romantic_x', 'famrel_x',
       'freetime_x', 'goout_x', 'Dalc_x', 'Walc_x', 'health_x', 'absences_x',
       'G1_mat', 'G2_mat', 'G3_mat', 'guardian_y', 'traveltime_y',
       'studytime_y', 'failures_y', 'schoolsup_y', 'famsup_y', 'paid_y',
       'activities_y', 'higher_y', 'romantic_y', 'famrel_y', 'freetime_y',
       'goout_y', 'Dalc_y', 'Walc_y', 'health_y', 'absences_y', 'G1_por',
       'G2_por', 'G3_por'],
      dtype='object')

In [93]:
student_mat_por.duplicated().sum()

np.int64(0)

In [94]:
student_mat_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel_y,freetime_y,goout_y,Dalc_y,Walc_y,health_y,absences_y,G1_por,G2_por,G3_por
0,GP,F,15,R,GT3,T,1,1,at_home,other,...,3.0,1.0,2.0,1.0,1.0,1.0,4.0,13.0,13.0,13.0
1,GP,F,15,R,GT3,T,1,1,other,other,...,5.0,5.0,5.0,1.0,1.0,1.0,2.0,8.0,9.0,9.0
2,GP,F,15,R,GT3,T,1,1,other,other,...,3.0,3.0,4.0,2.0,4.0,5.0,2.0,13.0,11.0,11.0
3,GP,F,15,R,GT3,T,2,2,at_home,other,...,4.0,3.0,1.0,1.0,1.0,2.0,8.0,14.0,13.0,12.0
4,GP,F,15,R,GT3,T,2,4,services,health,...,4.0,3.0,2.0,1.0,1.0,5.0,2.0,10.0,11.0,10.0

## **üîÑ Fixing Data Types (S·ª≠a ki·ªÉu d·ªØ li·ªáu)**

In [95]:
student_mat_por["G_mean"] =  student_mat_por[
    ["G1_mat","G2_mat","G3_mat","G1_por","G2_por","G3_por"]].mean(axis=1, skipna=True)

In [ ]:
student_mat_por["Dalc"] = student_mat_por["Dalc_x"].combine_first(student_mat_por["Dalc_y"])
student_mat_por = student_mat_por.drop(columns=["Dalc_x", "Dalc_y"])

In [96]:
student_mat_por.shape

(682, 54)

In [97]:
student_mat_por.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian_x', 'traveltime_x', 'studytime_x',
       'failures_x', 'schoolsup_x', 'famsup_x', 'paid_x', 'activities_x',
       'nursery', 'higher_x', 'internet', 'romantic_x', 'famrel_x',
       'freetime_x', 'goout_x', 'Dalc_x', 'Walc_x', 'health_x', 'absences_x',
       'G1_mat', 'G2_mat', 'G3_mat', 'guardian_y', 'traveltime_y',
       'studytime_y', 'failures_y', 'schoolsup_y', 'famsup_y', 'paid_y',
       'activities_y', 'higher_y', 'romantic_y', 'famrel_y', 'freetime_y',
       'goout_y', 'Dalc_y', 'Walc_y', 'health_y', 'absences_y', 'G1_por',
       'G2_por', 'G3_por', 'G_mean'],
      dtype='object')

## **üßπ Removing Invalid Values (Lo·∫°i b·ªè d·ªØ li·ªáu kh√¥ng h·ª£p l·ªá)**

In [97]:
student_mat_por = student_mat_por.drop(columns=[
    "G1_mat","G2_mat","G3_mat", # Tr√°nh leakage
    "G1_por","G2_por","G3_por",
])

## **üìè Feature Scaling (Chu·∫©n h√≥a d·ªØ li·ªáu)**

## **üìä Final Cleaned Data (Dataset cu·ªëi c√πng)**